@import "../../scss/colour.scss";
html{
  background-color: rgb(236, 166, 13)
}



.loginButton{
  
  color: $blue;
  margin-left: 03%;
  margin-top: 10%;
  width: 70%;
  padding: 2%

}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.fundoo {
  text-align: center;
  font-family: "Times New Roman";
  font: bold;
  margin-top: 05%;
  font-size: 250%;
  color: blue
}







