<!-- <div cdkDrag cdkDropList (cdkDropList)="drop($event)" *ngFor="let array of cards | search: Search" fxLayout="row wrap" fxLayoutAlign="start center" fxLayout.xs="column" > -->

<div *ngIf="gridView==true" fxLayout="row wrap">

  <div cdkDropList [cdkDropListData]="cards" [cdkDropListConnectedTo]="secondList" #firstList="cdkDropList"
    (cdkDropListDropped)="drop($event,cards)" fxLayout="row wrap" fxLayoutAlign="start center" fxLayout.xs="column">
    <div class="maindiv" cdkDrag *ngFor="let array of cards | search: Search">
      <mat-card [style.backgroundColor]="array.color" fxFlex.xs="100" fxLayout="column" class="matcard" fxFlex="45"
        fxFlexOffset.xl="10">

        <div fxFlex="55" fxFlexOffset.xl="20" fxFlex.xs="97" fxLayout="row" fxLayoutAlign="start center">

          <div fxLayout="column" fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="space-between start" fxFlex="100">

              <div fxFlex="85" fxLayout="row wrap" fxFlex="90" fxFlexOffset.xl="20" fxFlex.xs="97"
                (click)="openDialog(array, array.id)">
                <mat-card-title matTextareaAutosize class="title">{{ array.title }}
                </mat-card-title>
              </div>


            </div>
            <div>
              <div fxLayoutAlign="start center" (click)="openDialog(array, array.id)">
                <mat-card-title matTextareaAutosize class="discp" fxLayout="row wrap">{{ array.description }}
                </mat-card-title>
              </div>
            </div>
          </div>
        </div>

        <!-- reminder -->


      

        <div *ngFor="let rr of array.remainder">
          <mat-chip-list selected>
            <mat-chip class="btn">{{ rr | date: "medium" }}
              <mat-icon matChipRemove (click)="removeReminder(array,rr)">cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </div>

        <!-- Labels -->

        <div *ngFor="let l of array.label">
          <mat-chip-list selected>
            <mat-chip class="btn">{{ l}}
              <mat-icon matChipRemove (click)="deleteLabelFromNote(array, l)">cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </div>

        <!-- more menu icon button -->

        <div fxFlex="50" *ngIf="more == 'trash' " fxLayoutAlign="start center">
          <button mat-icon-button [matMenuTriggerFor]="menu" colour="basic" matTooltip="more">
            <img id="img" src="../../../assets//images/outline-more_vert-24px.svg" />
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="deleteForever(array)" (click)='openSnackBar1()'>
              Delete forever
            </button>
            <button mat-menu-item (click)="restore(array)" (click)='openSnackBar2()'>Restore</button>
          </mat-menu>
        </div>

        <!-- TO IMPORT ICONS FROM ICONLIST -->
        <div fxFlex="50" *ngIf="more != 'trash'">
          <app-iconlist class="icon" [card]="array" [more]="archived" 
            (unarchiveCard)="unarchived($event)" (deletecard)="deleteForever(array)" [type]="type"  (archivedCard)="archive($event)" ></app-iconlist>
        </div>
      </mat-card>
    </div>
  </div>
</div>
<!-- grid viewwwwwwwwwww -->
<!-- <div cdkDrag cdkDropList (cdkDropList)="drop($event)" *ngFor="let array of cards | search: Search" fxLayout="row wrap" fxLayoutAlign="start center" fxLayout.xs="column" > -->

<div *ngIf="gridView==false" fxLayout="column wrap">
  <div cdkDropList [cdkDropListData]="cards" [cdkDropListConnectedTo]="secondList" #firstList="cdkDropList"
    (cdkDropListDropped)="drop($event,cards)" fxLayout="row wrap" fxLayoutAlign="start center" fxLayout.xs="column">
    <div class="maindiv" cdkDrag *ngFor="let array of cards | search: Search">
      <mat-card [style.backgroundColor]="array.color" fxFlex.xs="100" fxLayout="column" class="matcard2" fxFlex="45"
        fxFlexOffset.xl="10">
        <div fxFlex="55" fxFlexOffset.xl="20" fxFlex.xs="97" fxLayout="row" fxLayoutAlign="start center">
          <div fxLayout="column" fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="space-between start" fxFlex="100">

              <div fxFlex="85" fxLayout="row wrap" fxFlex="90" fxFlexOffset.xl="20" fxFlex.xs="97"
                (click)="openDialog(array, array.id)">
                <mat-card-title matTextareaAutosize class="title">{{ array.title }}
                </mat-card-title>
              </div>


            </div>
            <div>
              <div fxLayoutAlign="start center" (click)="openDialog(array,  array.id)">
                <mat-card-title matTextareaAutosize class="discp" fxLayout="row wrap">{{ array.description }}
                </mat-card-title>
              </div>
            </div>
          </div>
        </div>

        <!-- reminder -->
        <div *ngFor="let rr of array.remainder">
          <mat-chip-list selected>
            <mat-chip class="btn">{{ rr | date: "medium" }}
              <mat-icon matChipRemove (click)="removeReminder(array,rr)">cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </div>

        <!-- Labels -->

        <div *ngFor="let l of array.label">
          <mat-chip-list selected>
            <mat-chip class="btn">{{ l}}
              <mat-icon matChipRemove (click)="deleteLabelFromNote(array, l)">cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </div>
            <!-- more menu icon button -->

            <div fxFlex="50" *ngIf="more == 'trash' " fxLayoutAlign="start center">
              <button mat-icon-button [matMenuTriggerFor]="menu" colour="basic" matTooltip="more">
                <img id="img" src="../../../assets//images/outline-more_vert-24px.svg" />
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="deleteForever(array)" (click)='openSnackBar1()'>
                  Delete forever
                </button>
                <button mat-menu-item (click)="restore(array)" (click)='openSnackBar2()'>Restore</button>
              </mat-menu>
            </div>
    
   <!-- TO IMPORT ICONS FROM ICONLIST -->

   <div fxFlex="50" *ngIf="more != 'trash'">
    <app-iconlist class="icon" fxFlex="50" fxFlex.xs="90" [card]="array" [more]="archived"
      (archivedCard)="archive($event)" (unarchiveCard)="unarchived($event)" (deletecard)="archive(array)"
      [type]="type"></app-iconlist>
  </div>
      </mat-card>
    </div>
  </div>
</div>