
<mat-toolbar>

    <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div fxFlex="800" div fxLayout="column" fxLayoutAlign="space-around center"  >
        <mat-form-field appearance="outline" fxHide.xs [style.fontSize.px]="2" class="search">
          <button mat-icon-button class="search-button">
            <mat-icon id="search" matTooltip="Search">search</mat-icon>
          </button>
  
          <input fxFlex="90" [(ngModel)]="Search" (keyup)='lookfor()' matInput placeholder="Search"
            [style.fontSize.px]="16" class="search-window" autocomplete="off" (click)='startSearch()' type="text" />
        </mat-form-field>
      </div>
      
      <mat-icon>refresh</mat-icon>

      <mat-icon aria-hidden="false" aria-label="Example home icon">settings</mat-icon>

</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
    </mat-drawer>
  
    
  
  </mat-drawer-container>