@import "../../scss/colour.scss";
html{
  background-color: rgb(236, 166, 13)
}



button{
  
  color: $blue;
  margin-left: 03%;
  margin-top: 04%;
  width: 40%;
  padding: 2%

}

.fundoo {
  text-align: center;
  font-family: "Times New Roman";
  font: bold;
  margin-top: 05%;
  font-size: 250%;
  color: blue
}







