<html>
<div fxLayoutAlign="space-around center" fxFlex="100">
  <mat-card fxFlex="30" >
    <div>
      <mat-card-title class="fundoo" fxLayout="row" fxLayoutAlign="center center">
        <span class="f">Fundoo</span>

      </mat-card-title>
    </div>

    <!-- </mat-card-header> -->

    <!-- title & subtitle -->
    <div>
      <mat-card-title class="title" fxLayout="row" fxLayoutAlign="center center">Account Recovery</mat-card-title>

    </div>

    
      <!-- usre email id -->

      <div fxLayout="column"  fxLayoutAlign="space-around center">
       
        <mat-form-field appearance="outline" class="form">
          <mat-label  >Email id</mat-label>
          <input matInput placeholder="Enter your email id" class="placeholder" [formControl]="email"
            [errorStateMatcher]="matcher" />
          <mat-icon matSuffix>email</mat-icon>
            
        </mat-form-field>

        <!-- user password -->

       
      </div>
      <div fxLayout="column"  fxLayoutAlign="space-around center">

      <button  class="button" mat-button (click)="forgot()" fxLayoutAlign="center center"
        mat-raised-button color="primary" mat-button aria-label="Show an example snack-bar">
        next
      </button>
</div>

   
  </mat-card>
</div>

</html>