<html>

<div fxLayoutAlign="space-around center" fxFlex="100">
  <mat-card fxFlex="30" >
    <div>
      <mat-card-title class="fundoo" fxLayout="row" fxLayoutAlign="center center">
        <span class="f">Fundoo</span>
  
      </mat-card-title>
    </div>

    <!-- </mat-card-header> -->

    <!-- title & subtitle -->
    <div>
      <mat-card-title class="title" fxLayout="row" fxLayoutAlign="center center">ResetPassword</mat-card-title>
     
    </div>

      <!-- usre email id -->

      <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="space-around center">


        <!-- user password -->

        <mat-form-field appearance="outline"  >
          <mat-label>Enter your password</mat-label>
          <input matInput placeholder="Enter your password" class="placeholder" [type]="hide ? 'password' : 'text'" [formControl]="password"
            autocomplete="off" requried />
          <mat-icon matSuffix (click)="hide = !hide">{{
              hide ? "visibility_off" : "visibility"
            }}</mat-icon>
            <mat-error *ngIf="
            password.hasError('minlength')
          ">
          min 8 letters required
            </mat-error>
            <mat-error *ngIf="password.hasError('required')">
              password is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" >
            <mat-label>Confirm your password</mat-label>
            <input matInput placeholder="Confirm your password"  [type]="hide ? 'password' : 'text'" [formControl]="confirmpassword"
              autocomplete="off" requried />
            <mat-icon matSuffix (click)="hide = !hide">{{
                hide ? "visibility_off" : "visibility"
              }}</mat-icon>
              <mat-error *ngIf="
              confirmpassword.hasError('minlength')
            ">
                 min 8 letters required
              </mat-error>
              <mat-error *ngIf="confirmpassword.hasError('required')">
                confirm password is <strong>required</strong>
              </mat-error>
          </mat-form-field>
      </div>
      
      <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="space-around center">
     
        <button id="sig-button" class="loginButton" mat-button (click)="reset()" fxLayoutAlign="center center" mat-raised-button
          color="primary" mat-button aria-label="Show an example snack-bar">
         submit
        </button>
     </div>
      
   
  </mat-card>
</div>

</html>

