<html>
<div fxLayoutAlign="space-around center" fxFlex="100">
  <mat-card fxFlex="30" class="card" fxFlex.xs="100">
    <div>
      <mat-card-title class="fundoo" fxLayout="row" fxLayoutAlign="center center">
        <span class="f">Fundoo</span>

      </mat-card-title>
    </div>

    <!-- </mat-card-header> -->

    <!-- title & subtitle -->
    <div>
      <mat-card-title class="title" fxLayout="row" fxLayoutAlign="center center">Email confirmation Form
        
      </mat-card-title>

    </div>

    
      <!-- usre email id -->

    
      



     
      
          <button  class="loginButton" (click)="confirm()">Login</button>
        
       
     
  </mat-card>
</div>

</html>