/**************************************** All colours are decleared used in scss ********************************************/

// colour blue
$blue : #2196F3;

// colour red
$red : #D50000;

// Yellow
$yellow : #FF8F00;

//green
$green : rgb(70, 236, 4);


//light blue
$lblue : #2962FF;

//lgreen
$lgreen : rgb(11, 248, 145);

//black
$black : #000000;

//white
$white : #ffffff;